In [1]:
import pandas as pd
import requests

In [2]:
base = pd.read_csv('../data/bank-full.csv_v2')
pd.set_option('display.max_columns', None)

In [3]:
sample = base.drop(['y'], axis=1).sample()
sample

,age,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,divorced,married,single,cellular,telephone,failure,other,success
29629,32,1,0,13565,0,0,3,2,613,2,-1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [4]:
sample_json = sample.to_json(orient='records')
sample_json

'[{"age":32,"education":1,"default":0,"balance":13565,"housing":0,"loan":0,"day":3,"month":2,"duration":613,"campaign":2,"pdays":-1,"previous":0,"admin.":0.0,"blue-collar":0.0,"entrepreneur":0.0,"housemaid":0.0,"management":0.0,"retired":0.0,"self-employed":0.0,"services":0.0,"student":0.0,"technician":1.0,"unemployed":0.0,"divorced":0.0,"married":0.0,"single":1.0,"cellular":1.0,"telephone":0.0,"failure":0.0,"other":0.0,"success":0.0}]'

In [5]:
url = 'http://127.0.0.1:5000/predict'
data = sample_json
header = {'Content-type':'application/json'}

response = requests.post(url=url, data=data, headers=header) 
response.status_code

200

In [6]:
response.json()

[{'age': 32,
  'education': 1,
  'default': 0,
  'balance': 13565,
  'housing': 0,
  'loan': 0,
  'day': 3,
  'month': 2,
  'duration': 613,
  'campaign': 2,
  'pdays': -1,
  'previous': 0,
  'admin.': 0.0,
  'blue-collar': 0.0,
  'entrepreneur': 0.0,
  'housemaid': 0.0,
  'management': 0.0,
  'retired': 0.0,
  'self-employed': 0.0,
  'services': 0.0,
  'student': 0.0,
  'technician': 1.0,
  'unemployed': 0.0,
  'divorced': 0.0,
  'married': 0.0,
  'single': 1.0,
  'cellular': 1.0,
  'telephone': 0.0,
  'failure': 0.0,
  'other': 0.0,
  'success': 0.0,
  'y': 'no'}]

In [7]:
pd.DataFrame(response.json(), columns=response.json()[0].keys())

,age,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,admin.,blue-collar,entrepreneur,housemaid,management,retired,self-employed,services,student,technician,unemployed,divorced,married,single,cellular,telephone,failure,other,success,y
0,32,1,0,13565,0,0,3,2,613,2,-1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,no