In [1]:
import pandas as pd
import requests

In [2]:
base = pd.read_csv('../data/bank-full.csv_v2')

In [8]:
sample = base.drop(['y'], axis=1).sample()
sample

,age,education,default,balance,housing,loan,day,month,duration,campaign,...,divorced,married,single,cellular,telephone,unknown.1,failure,other,success,unknown.2
34024,28,2,0,1808,0,0,30,4,309,1,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
sample_json = sample.to_json(orient='records')
sample_json

'[{"age":28,"education":2,"default":0,"balance":1808,"housing":0,"loan":0,"day":30,"month":4,"duration":309,"campaign":1,"pdays":-1,"previous":0,"admin.":0.0,"blue-collar":0.0,"entrepreneur":0.0,"housemaid":0.0,"management":1.0,"retired":0.0,"self-employed":0.0,"services":0.0,"student":0.0,"technician":0.0,"unemployed":0.0,"unknown":0.0,"divorced":0.0,"married":0.0,"single":1.0,"cellular":1.0,"telephone":0.0,"unknown.1":0.0,"failure":0.0,"other":0.0,"success":0.0,"unknown.2":1.0}]'

In [10]:
url = 'http://127.0.0.1:5000/predict'
data = sample_json
header = {'Content-type':'application/json'}

response = requests.post(url=url, data=data, headers=header) 
response.status_code

200

In [11]:
response.json()

[{'age': 28,
  'education': 2,
  'default': 0,
  'balance': 1808,
  'housing': 0,
  'loan': 0,
  'day': 30,
  'month': 4,
  'duration': 309,
  'campaign': 1,
  'pdays': -1,
  'previous': 0,
  'admin.': 0.0,
  'blue-collar': 0.0,
  'entrepreneur': 0.0,
  'housemaid': 0.0,
  'management': 1.0,
  'retired': 0.0,
  'self-employed': 0.0,
  'services': 0.0,
  'student': 0.0,
  'technician': 0.0,
  'unemployed': 0.0,
  'unknown': 0.0,
  'divorced': 0.0,
  'married': 0.0,
  'single': 1.0,
  'cellular': 1.0,
  'telephone': 0.0,
  'unknown.1': 0.0,
  'failure': 0.0,
  'other': 0.0,
  'success': 0.0,
  'unknown.2': 1.0,
  'y': 'yes'}]

In [12]:
pd.DataFrame(response.json(), columns=response.json()[0].keys())

,age,education,default,balance,housing,loan,day,month,duration,campaign,...,married,single,cellular,telephone,unknown.1,failure,other,success,unknown.2,y
0,28,2,0,1808,0,0,30,4,309,1,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,yes