In [1]:
import pandas as pd
import requests

In [2]:
base = pd.read_csv('../data/featureSelected.csv')

In [3]:
amostra = base.drop(['NOTA'], axis=1).sample()
amostra

        TP_FAIXA_ETARIA  TP_ESCOLA  RENDA_FAM  COMPUTADOR  INTERNET
316960                3          2          1           1         1

In [4]:
amostra_json = amostra.to_json(orient='records')
amostra_json

'[{"TP_FAIXA_ETARIA":3,"TP_ESCOLA":2,"RENDA_FAM":1,"COMPUTADOR":1,"INTERNET":1}]'

In [5]:
url = 'http://127.0.0.1:5000/predict'
data = amostra_json
header = {'Content-type':'application/json'}

resposta = requests.post(url=url, data=data, headers=header) 
resposta.status_code

200

In [6]:
resposta.json()

[{'TP_FAIXA_ETARIA': 3,
  'TP_ESCOLA': 2,
  'RENDA_FAM': 1,
  'COMPUTADOR': 1,
  'INTERNET': 1,
  'prediction': 'baixa'}]

In [7]:
pd.DataFrame(resposta.json(), columns=resposta.json()[0].keys())

   TP_FAIXA_ETARIA  TP_ESCOLA  RENDA_FAM  COMPUTADOR  INTERNET prediction
0                3          2          1           1         1      baixa